.sticky{
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 3;
    opacity: 0;
    animation: dropdown 1s ease-in forwards;
}
.header{
    height: 10vh;
    min-height: 70px;
    background: #ffffff;
    padding: 0 20px;
    color: #282828;
    width: 90%;
    margin: auto;
}
.logo{
    display: flex;
    line-height: 10vh;
    float: left;
    text-transform: uppercase;
    align-items: center;
}
.logo h2{
    margin-left: 10px;
    font-size: 30px;
}
.logo img{
    height:30px;
}
.menu{
    float: right;
    line-height: 10vh;
    margin: 0;
}
.menu a{
    color: #282828;
    text-decoration: none;
    padding: 0 35px;
    transition: 0.4s;
    font-size: 20px;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 10vh;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #d76f8a;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.content p{
    text-align: justify;
}

@media screen and (max-width:1100px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        display: block;
        right: 0;
    }
}

@media screen and (max-width: 300px){
    .logo img{
        height: 50px;
    }
    .logo h2{
        display: none;
    }
}
