{{define "main"}}
<section class="page">
    <h1 style="text-align:center">{{.Title}}</h1>

    {{range .Params.Tags }}
      <span class='label' style='margin: 0.4em'>
        <a style="color: white; text-decoration: none;" href='{{ "tags/" | relLangURL }}{{.}}'>{{.}}</a>
      </span>
    {{end}}
    {{ if .IsTranslated }}
      <p>Read in: </p>
	    <nav class="LangNav">
	    {{ range .Translations }}
      {{ $name:= .Language.Lang}}
      <a class="link lang" href="{{ .RelPermalink }}"><img src='/img/{{$name}}.svg' width="50px" alt="{{$name}}"></a>
	    {{ end}}
	    </nav>
    {{ end }}
    <hr>
    {{.Content }}
    {{ if .Params.Discussionlink }}
    <div class="comments">
        <a href="{{.Params.Discussionlink}}"><img src='{{"img/loomio.svg" | absURL }}' alt="" />{{ i18n "discussion" }}</a>
    </div>
    {{end}}
</section>
{{end}}
